body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

a {
  color: #00B7FF;
}
header{
  background-color: darkgrey;
  color: black;
  align-content:center;
  text-align:center;
}
.card-title{
  border: solid 2px;
  border-color:black;
  text-align: center;
}
.card-text{
  margin:10px;
  margin-left:0px; 
}